.content {
  padding-right: 2rem;
  padding-left: 2rem;

  margin-bottom: 2rem;

  div {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 8px;
    margin-top: 1.5rem;

    main {
      text-align: center;

      h1 {
        color: #908d8d;
        text-shadow: 1px 1px 15px #c8c6c6;
        margin-bottom: 1rem;
      }

      p {
        margin-right: 2rem;
        margin-left: 2rem;
        color: #908d8d;
      }
    }

    img {
      width: 25rem;
    }
  }

  .cardGfw {
    img {
      border-radius: 0px 8px 8px 0px;
    }
  }

  .card {
    img {
      border-radius: 8px 0px 0px 8px;
    }
  }
}

@media(max-width: 970px) {
    .content {
        div {
           flex-direction: column;

            img {
                width: 100%;
            }
        }
        .cardGfw {

            flex-direction: column-reverse;
            img {
                border-radius: 8px 8px 0px 0px;
            }

            main {
                padding: 1rem 0 1rem 0;
            }
        }

        .card {
            img {
                border-radius: 8px 8px 0px 0px;
            }

            main {
                padding: 1rem 0 1rem 0;
            }
        }
        
    }
}
