.title {
    color: #908d8d;
    font-size: 1.2rem;
    margin-left: 1.2rem;
}

.wrapper {
    margin: 1rem 0 1rem 1rem;
    background: #2c2c2c;
    min-height: 42rem;
    border-radius: 8px;

    img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    h1 {
        color: #908d8d;
        font-size: 20px;
        margin-top: 1rem;
        text-shadow: 1px 1px 15px #c8c6c6;
        text-align: center;
    }

    p {
        padding: 1rem;
        color: #c8c6c6;
    }
    
}