.input {
    border: none;
    width: 100%;
    padding: 1rem 0 1rem 0;
    color: #fff;
    font-size: 1rem;
    outline: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}