.header {
    border-bottom: 1px solid #908d8d;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5rem;

        .wrapper {
            h1 {
                color: #908d8d;
            }
        }

        .links {
            opacity: 0;
            visibility: hidden;
            top: -20rem;

            ul {
                display: none;
                gap: 2rem;
                list-style: none;

                li {
                    text-align: center;
                    
                    a {
                        text-decoration: none;
                        font-size: 1.2rem;
                    }

                    a:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .active .links {
        opacity: 1;
        visibility: visible;
        
        background: #2c2c2c;

        height: 100%;
        width: 100%;

        position: fixed;
        top: 0;
        left: 0;

        display: grid;
        place-content: center;
    }

    .active .links ul {
        display: grid;
    }

    .mobileMenu {
        z-index: 1000;
        cursor: pointer;
    }
}

@media (min-width: 800px) {
    .header {
        nav {
            .links {
                opacity: 1;
                visibility: visible;
                top: 0;
                
            }

            .links {
                ul {
                    display: flex;
                    gap: 2rem;
                }
            }

            .mobileMenu {
                display: none;
            }
        }
    }
}