.container {
    margin-top: 5.2rem;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid #908d8d;

    form {
        display: flex;
        flex-direction: column;

        textarea {
            outline: 0;
            padding: 2rem 0 1rem 0;
            font-size: 1rem;
            resize: none;
            background: transparent;
            color: #b1b0b0;
            border: 0;
            overflow-y: hidden;
        }

        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0.5rem;

            span {
                color: #fff;
                .count {
                    color: #a70f0f;
                    margin-right: 1rem;
                }
            }

            button {
                border: 0;
                color: #fff;
                background: #a70f0f;
                padding: 0.6rem;
                border-radius: 16px;
                cursor: pointer;
                transition: all .3s;
                
                &:disabled {
                    background: #5a2b2b;
                    cursor: no-drop;
                }
            }
        }
    }
}